<header class="jumbotron masthead" style="background-color: rgb(7,7,0); color: #fff; padding-top:40px; padding-bottom: 40px; text-align: center">
  <div class="container">
    <h1 style="z-index:2">OpenGenesis</h1>
    <p style="font-size: 30px; margin-top: 30px; display: inline-block; width: 50%; line-height: 1; color: #aaa; z-index: 2">
		Enhance continuous delivery process with cloud based technologies</p>
    <div class="clearfix"></div>
    <div style="position: absolute; top: 30px; width:92%; margin-left: -40px; z-index:1" class="template-header">
        <img style="float:left" src="img/logo-left.png"/>
        <img style="float: right;" src="img/logo-right.png"/>
    </div>
    <div class="clearfix"></div>
  </div>
</header>