<!DOCTYPE html>
<html class="fuelux" lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="OpenGenesis is a DevOps tool to manage environment infrastructure, enterprise services and application deployments. Automation of infrastructure in the cloud or directly on server racks">
	<!-- Le styles -->
	<link href="http://fuelcdn.com/fuelux/2.2/css/fuelux.css" rel="stylesheet" />
	<link href="http://fuelcdn.com/fuelux/2.2/css/fuelux-responsive.css" rel="stylesheet" />
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js" type="text/javascript"></script>
	<script src="http://fuelcdn.com/fuelux/2.2/loader.min.js" type="text/javascript"></script>

        <link href="/css/docs.css" rel="stylesheet">  		 
	<link href="/js/google-code-prettify/prettify.css" rel="stylesheet">	

	<link rel="stylesheet" href="http://use.typekit.net/c/1ac98e/skippy-sharp:n4,proxima-nova:n3:i3:n4:i4:n7:i7,source-code-pro:n7:n4:n6.SG6:F:1,Vmx:F:1,Vmy:F:1,W0V:F:1,W0W:F:1,W0Y:F:1,W0Z:F:1,Xvq:F:1,Xvt:F:1,Xvv:F:1/d?3bb2a6e53c9684ffdc9a99f01a5b2a629ad50674cbc63d20c5693794c30b61bd8879e6d00e43846f3ca50685b9842c0e946f4fa9741012ff1b13c9a34f47c747a5d2570d87c9c4d73b529288c2d603575d4da0e9e0e8548f9226853af4f2ce44150988ab1f6050677acb6f4104e845d424b6af41a34573b039150c1a1e53b476c4927966dd41e455dd6aac91a60cc1cc284b274e425f526d5760ab3ec6ff57f3221ab639ebc71372209f05baabdd94da147f3eb8b8bd7c11c10efabe84004f6260ad00f2ed70a2974433cd8aba8558046c6f1a20ab94222ffaf71840db2b720711856caa81e8e0d98526c552d0b5d9ce8284203e1ddb081c1e5bd32c5b249ec8d2da5245c87b959adf5f768cf1838bc0fe77857a0acc9db4a6ef3a0dade612dbffd2867fd2d57728f5e9cefc96cee1cc4048b760420575dcdc8ccfbd1e9bb1d0da56a8a87d824f0e9ffb2b870312ec9929024e4b07a39b77efc9670688faab8b0af8804c89a710e9">
	<link href="/js/google-code-prettify/prettify.css" rel="stylesheet">	

	<link rel="stylesheet" href="/css/elusive-webfont.css">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/favicon.ico">    
	<style> 
		div.gist-file {
			
		}
		.gist .gist-file .gist-data pre {
			font-family: skippy-sharp !important;
			font-size: 19px !important;
		}
		td.line_numbers {display: none}
		div.gist-meta { display: none }

.bbtn {
  display: inline-block;
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.3), rgba(35, 35, 35, 0.3) 50%, rgba(10, 10, 10, 0.3) 50%, rgba(0, 0, 0, 0.3));
  padding: 8px 18px;
  border-radius: 50px;
  border: 2px solid rgba(0, 0, 0, 0.7);
  border-bottom: 2px solid rgba(0, 0, 0, 0.7);
  border-top: 2px solid rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 0.8);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
}

.bbtn .icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  float: left;
}
.btn-github .icon {
  opacity: 0.6;
  background: url("../images/blacktocat.png") 0 0 no-repeat;
}


.bbtn:hover {
  background: -webkit-linear-gradient(top, rgba(40, 40, 40, 0.6), rgba(35, 35, 35, 0.6) 50%, rgba(10, 10, 10, 0.8) 50%, rgba(0, 0, 0, 0.8));
}

.quickstart {
	padding: 10px 0;
	text-align: center;
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
@media (max-width: 1050px) {
    .template-header { display: none!important; }
}


            /*.quickstart [class*="span"] {
            width: 350px;
            height: 117px;
            padding-top: 20px;
            } */
        .feature img.thumb {
            float: left;
            margin: 5px 15px 5px 0px;
            border: 5px solid #FFF;
            -webkit-box-shadow: 0 0 8px #AAA;
            -moz-box-shadow: 0 0 8px #AAA;
            box-shadow: 0 0 8px #AAA;
        }

        img.outline {
            border: 5px solid #FFF;
            -webkit-box-shadow: 0 0 8px #AAA;
            -moz-box-shadow: 0 0 8px #AAA;
            box-shadow: 0 0 8px #AAA;
        }

        .up {
            float: right;
            padding-left: 10px;
            color: #333;
            background: white;
            -webkit-transition: -webkit-transform 0.2s ease;
            -moz-transition: -moz-transform 0.2s ease;
            transition: transform 0.2s ease;
        }
</style>
  </head>
<body data-spy="scroll" data-target=".subnav" >
{% include navigation.html %}

{% include masterhead.html %}


    <div class="quickstart">
      <div class="container">
        <div class="row">
          <div class="span4">
            <h4>Learn how to use it</h4>
            <p>Read introduction articles to get acquainted with OpenGenesis</p>
            <p>
              <a href="#" class="btn btn-primary" title="Create an Erlang Cluster">Read introduction</a>
            </p>
          </div>
          <div class="span4">
            <h4>Download latest release</h4>
            <p>2 deployment options for private use: WAR archive and standalone server</p>
            <p>
              <a href="/downloads.html" class="btn btn-primary" title="Download latest release">Download releases</a>
            </p>
          </div>
          <div class="span4">
            <h4>Fork on GitHub</h4>
            <p>Open source solution under LGPL v2.0 licence. Full information and current state</p>
            <p><a target="_blank" href="https://github.com/griddynamics/opengenesis" class="btn btn-primary" title="OpenGenesis">OpenGenesis project</a>
            </p>
          </div>
        </div><!-- row -->
      </div>
    </div>


<div class="container">

    <section id="features">
        <div class="row">
            <div class="span12">
                <h2 style="margin-bottom: 15px; background: url('img/lines.png') center 57% repeat-x;">
                    <em style="background: white; padding-right: 10px; ">Main features</em>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="span3 feature">
                <h4>Provisioning, Configuration and Administration</h4>

                <img src="img/nodes.png" width="50" height="50" class="thumb" alt="thumb" >
                <p >Manage environment infrastructure, enterprise services and application deployments.</p>
            </div>
            <div class="span3 feature">
                <h4>Infrastructure automation tasks in Groovy DSL</h4>
                <img src="img/dsl.png" width="50" height="50" class="thumb" alt="thumb" >
                <p>Domain-specific language designed for infrastructure and deployments management</p>
            </div>
             <div class="span3 feature">
                <h4>Range of supported Cloud Providers</h4>
                 <img src="img/cloud.png" width="50" height="50" class="thumb" alt="thumb" >
                <p>Supported providers: Amazon EC2, GoGrid Cloud Hosting, OpenStack Nova</p>
            </div>
            <div class="span3 feature">
                <h4>Integration with the most common DevOps tools</h4>
                <img src="img/console.png" width="50" height="50" class="thumb" alt="thumb" >
                <p>Integration with widely-adopted tools for the job: Chef, Chef solo, bash, windows powershell</p>
            </div>

        </div><!--/row-->
        <div class="row">
            <div class="span3 feature">
                <h4>Various installation options to work in private environments</h4>
                <img src="img/private.png" width="50" height="50" class="thumb" alt="thumb" >
                <p>Independent server installation or java web archive</p>
                <p>Integration with nexus, jenkins</p>
                <p>Support for ldap, active directory authentication</p>
            </div>
            <div class="span3 feature"></div>
            <div class="span3 feature"></div>
            <div class="span3 feature">
                <h4>Extensible approach for plugins</h4>
                <img src="img/tools.png" width="50" height="50" class="thumb" alt="thumb" >
                <p>Plugin API allows development of new automation tasks, integration with build tools and version control systems, issue trackers and notification programs.</p>
            </div>

        </div><!--/row-->
    </section>
    <section id="overview">
        <div class="row">
            <div class="span12">
                <h2 style="margin-bottom: 15px; background: url('img/lines.png') center 57% repeat-x;">
                    <em style="background: white; padding-right: 10px; ">Overview</em>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="span9 feature">
                <p><strong>OpenGenesis</strong> is a delivery platform to manage environment infrastructure,
                enterprise services and application deployments</p>
                <p>This includes:
                    <ul>
                        <li>working with several cloud vendors</li>
                        <li>management of the operating system and middleware</li>
                        <li>application upgrades and package customization.</li>
                    </ul>
                </p>
                <p><strong>OpenGenesis</strong> provide cloud vendor independence thus making it possible to combine virtual and
                non-virtual resources.</p>
            </div>

            <div class="span3 feature">
                <img src="img/videocomingsoon.jpg"  class="outline">
            </div>
        </div><!--/row-->

    </section>
    <section id="getting-started">
        <div class="row">
            <div class="span12">
                <h2 style="margin-bottom: 15px; background: url('img/lines.png') center 57% repeat-x;">
                    <em style="background: white; padding-right: 10px; ">Getting started</em>
                </h2>
            </div>
        </div>
        <div class="row" >
            <div class="span4 feature">
                <h4>Documentation</h4>
                <ul>
                    <li>
                        <a target="_blank" href="https://github.com/griddynamics/OpenGenesis/wiki">Github wiki pages</a>
                    </li>
                </ul>
            </div>
            <div class="span4 feature">
                <h4>Tutorials</h4>
                <ul>
                    <li>Coming soon</li>
                    {% for post in site.posts offset: 0 limit: 4 %}
                        {% if post.category == "tutorial" %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>
            <div class="span4 feature">
                <h4>News</h4>
                <ul>
                    {% for post in site.posts offset: 0 limit: 4 %}
                        {% if post.category == "news" %}
                            <li>
                                <a href="{{ post.url }}">{{ post.title }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div><!--/row-->

    </section>
</div>
<!--div class="container">



<section id="integration">
  <h1>What is Genesis?</h1>
  <p>&nbsp;</p>
  <div class="row">
    <div class="span6">
						<script src="https://gist.github.com/708cf871e6939c05bd84.js"></script>

    </div>

    <div class="span6">
  <hr class="soften">
      <h3>Provisioning, Configuration and Administration</h3>
      <p>Manage environment infrastructure, enterprise services and application deployments.</p>
  <hr class="soften">

      <h3>Independent server installation with extensible plugin API</h3>
      <p>Various installation options to work in private environments</p>
  <hr class="soften">

      <h3>Infrastructure automation tasks in Groovy DSL</h3>
      <p>Domain-specific language designed for infrastructure and deployments management</p>
  <hr class="soften">

      <h3>Range of supported Cloud Providers</h3>
      <p></p>

      <h3></h3>
      <p></p>

    </div>
  </div>
  <hr class="soften">
  <div class="row">
    <div class="span3">
      <h3>Bootstrap using CSS</h3>
      <p>Use this method if integrating with Twitter Bootstrap using CSS.</p>
    </div>
    <div class="span9">
      <ol>
        <li>Customize Twitter Bootstrap <a href="http://twitter.github.com/bootstrap/download.html" target="_blank">here</a>. Make sure to uncheck the default "Icons" under "Base CSS."</li>
        <li>Copy the Elusive Icons font directory into your project.</li>
        <li>Copy elusive-webfont.css into your project.</li>
        <li>Open your project's elusive-webfont.css and edit the font url to ensure it points to the right place (see above example).</li>
        <li>
          In the <code>&lt;head&gt;</code> of your html, reference the location to your elusive-webfont.css.
<pre class="prettyprint linenums"><ol class="linenums"><li class="L0"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"../css/bootstrap.css"</span><span class="tag">&gt;</span></li><li class="L1"><span class="tag">&lt;link</span><span class="pln"> </span><span class="atn">rel</span><span class="pun">=</span><span class="atv">"stylesheet"</span><span class="pln"> </span><span class="atn">href</span><span class="pun">=</span><span class="atv">"../css/elusive-webfont.css"</span><span class="tag">&gt;</span></li></ol></pre>
        </li>
      </ol>
    </div>
  </div>
  <hr class="soften">
  <div class="row">
    <div class="span3">
      <h3>Not using Bootstrap?</h3>
      <p>Elusive Icons works just as well without Twitter Bootstrap.</p>
    </div>
    <div class="span9">
      <ol>
        <li>Copy the Elusive Icons directory into your project.</li>
        <li>Copy elusive-webfont.less or elusive-webfont.css into your project.</li>
        <li>Open your project's elusive-webfont.less or elusive-webfont.css and edit the font url to ensure it points to the right place (see above example).</li>
      </ol>
    </div>
  </div>

  <hr class="soften">
  <div class="row">
    <div class="span3">
      <h3>Adding IE support</h3>
      To add support for IE7, add the following line in the <code>&lt;head&gt;</code> of your html:
    </div>
    <div class="span9">
      <code>&lt;!--[if lte IE 7]&gt;&lt;script src="assets/elusive-font/lte-ie7.js"&gt;&lt;/script&gt;&lt;![endif]--&gt;</code>
    </div>
  </div>

</section>
	<div class="marketing">
		<div class="content">
			<div class="row">			   				
				<div class="span6 columns" style="color: rgb(0, 51, 153); ">					
					 <h2>Infrastructure automation tasks in Groovy DSL</h2>
					 <h2>Range of supported Cloud Providers</h2>
					 <h2>Integration with the most common DevOps tools</h2>
				</div>				

				<div class="span6 columns">						
						<script src="https://gist.github.com/708cf871e6939c05bd84.js"></script>
				</div>	
			</div>						
		</div>			
	</div>		
</div-->

{% include footer.html %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>    
   	<script src="/js/custom.js" type="text/javascript"></script>	

	<script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'bugzmanov-opengenesis'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function () {
			var s = document.createElement('script'); s.async = true;
			s.type = 'text/javascript';
			s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
			(document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
		}());
	</script>
	
	<!-- Google Analytics -->
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29830549-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
  </body>
</html>
